html {
  background-color: black;
}

body {
  margin: 0px;
  font-family: "EB Garamond", "Georgia", "Cambria", sans-serif;
  font-size: 2em;
  /*background-color: #222222;*/
  height: 100vh;
  transition: 10s;
  transition-property: background-color;
  background-image: url(/images/250-90-5-monochrome.png);
  background-repeat: repeat;
}

#root,
#main {
  height: 100%;
}

/* want buttons to appear like links */
button {
  color: white;
  background:none;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

button:hover {
  color: #444;
  background-color: #fff;
}

button:focus {
  outline: none;
}
