.Progress {
  background-color: rgba(255, 255, 255, 0.5);
  max-height: 20px;
  position: absolute;
  overflow: hidden;
  font-size: 18px;
  font-family: "Courier New";
  color: #efeeee;
  text-overflow: clip;
  width: 100%;
  transition: 1s;
  z-index: 10;
}

.Progress-final {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  color: #efeeee;
  font-size: 11px;
  font-family: "Courier New";
  height: auto;
  max-height: 100%;
}

.Progress-final ul {
  list-style: none;
  margin-top: 0px;
  padding-left: 0em;
}

.Progress-score {
  font-weight: bold;
}

@media (min-width: 858px) {
  .Progress-final {
    font-size: 18px;
  }
}